/** @format */

.page {
  width: 90%;
  background: var(--secondaryBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
  margin: auto;
  border-radius: 1rem;
  /* overflow: hidden; */
}

.cd {
  background-color: whitesmoke;
  width: max-content;
  margin-bottom: -2rem;
  display: flex;
  padding: 0.5rem 3rem;
  gap: 7px;
  z-index: 1;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
}

.cdBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cdTime,
.cdColon {
  font-size: 2rem;
  font-weight: bold;
}

.cdText {
  font-size: 1rem;
}

.main {
  width: 100%;
  padding: 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  height: 65%;
}
.leftMain {
  width: 30%;
  position: relative;
  padding: 0 10rem;
  display: flex;
  img {
    width: 60%;
    height: 60%;
  }
  .img1 {
    position: absolute;
    top: 0;
    left: 1rem;
  }
  .img2 {
    position: absolute;
    right: 1rem;
    bottom: 0;
  }
}
.rightMain {
  width: 65%;
  padding: 3rem 0;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-size: 1rem;
  }
  div {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0.5rem 1rem;
      border: 0;
      border-radius: 1rem;
      color: white;
      font-weight: bold;
    }
  }
}
.counterBox {
  display: flex;
  justify-content: center !important;
  gap: 6rem;
  width: 100%;
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 3.5rem;
      color: var(--primaryColor);
    }
    p {
      font-weight: bold;
    }
  }
}
.thirdRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.leftRow {
  font-size: 2.5rem;
  font-weight: bold;
  transform: rotate(270deg);
  transform-origin: center;
  color: var(--primaryColor);
  height: 100%;
}
.rightRow {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .themes {
    height: 4rem;
    width: 30%;
    background-color: var(--secondaryBackground);
    margin: 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    padding: 0.5rem 0.5rem;
    align-items: center;
    gap: 20px;
    font-size: 0.7rem;
    background-color: white;
    span {
      font-weight: 700;
      font-size: 0.8rem;
    }
  }
}

.lastRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 20px;
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem !important;
  }
}

@media screen and (max-width: 470px) {
  .page {
    width: 100%;
    padding: 0 0 1rem 0;
  }
  .cd {
    display: none;
  }
  .CountDown {
    display: none;
  }
  .main {
    flex-direction: column;
    gap: 2rem;
  }
  .leftMain {
    width: 100%;
    padding: 0;
    position: none;
  }
  .rightMain {
    /* background-color: red; */
    width: 100%;
    padding: 0;
    h1 {
      font-size: 24px;
    }
  }
  .counterBox {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    display: none !important;
    .counter {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1rem;
      }
    }
  }
  .thirdRow {
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;
  }
  .leftRow {
    font-size: 2.5rem;
    font-weight: bold;
    transform: rotate(0deg);
    transform-origin: none;
    margin-bottom: 1.5rem;
  }
  .rightRow {
    width: 100%;
    flex-direction: column;
    .themes {
      width: 85%;
      span {
        font-size: 0.9rem;
      }
    }
  }
  .lastRow {
    width: 82%;
    margin: auto;
    align-items: center;
    justify-content: flex-end !important;
  }
}
