/** @format */

.container {
  width: 100%;
  /* background: linear-gradient(135deg, #52247f 20%, #00a7b5); */
  padding: 5rem 0;
}
.event {
  width: 90%;
  margin: auto;
  padding: 3%;
}
.event h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.poster {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
}

.card {
  display: flex;
  width: calc(25% - 2rem);
  flex-direction: column;
  height: 300px;
  justify-content: center;
  background-color: #f2f7f8;
  border-radius: 10px;
  /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1); */
  transition: 0.2s ease-in-out;
}

.card:hover {
  border: 2px solid black;
  transform: scale(1.05);
}

.card .gif {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
}

.card .name {
  display: flex;
  justify-content: center;
  font-size: large;
  color: black;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  width: 100%;
}

.card .btn {
  display: flex;
  justify-content: center;
}

.card .btn button {
  color: #ffff !important;
  background-color: black !important;
  padding: 2% !important;
  font-size: medium !important;
  width: 60% !important;
  border-radius: 10px !important;
  border: 2px solid black !important;
  transition: 0.2s ease-in-out !important;
}

.card .btn button:hover {
  cursor: pointer;
  border: 2px solid black !important;
  background-color: #ffff !important;
  color: black !important;
}

/* .card {
  width: 280px;
  height: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 3rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.heading {
  background-color: var(--primaryColor);
  height: 4rem;
  width: 82%;
  border-radius: 0 1.5rem 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: auto;
}
.pointer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}
.pointer span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  opacity: 1;
  height: 200px;
  animation: appear 0.8s ease-in-out;
  overflow: hidden;
}
@keyframes appear {
  from {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0.5;
    height: 240px;
  }
  to {
    opacity: 1;
    height: 200px;
  }
}


 */
