/** @format */

.container {
  width: 100%;
  /* background: linear-gradient(135deg, #52247f 20%, #00a7b5); */
  padding: 5rem 0 0 0;
}
.event {
  width: 90%;
  margin: auto;
  padding: 3%;
}
.event h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.poster {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
}

.card {
  position: relative;
  display: flex;
  width: calc(33% - 2rem);   
  flex-direction: column;
  height: 300px;
  justify-content: center;
  background-color: #f2f7f8;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.style{
  position: absolute;
  top: 0;
  left: 0;
  height: 2%;
  width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: #009d9a;
  opacity: 0;
  z-index: 1;
}

.card:hover {
  /* border: 2px solid #009d9a; */
  transform: scale(1.02);
  .style{
    opacity: 1;
    animation: my-animation 1s ease forwards;
  }
}

@keyframes my-animation {
  from {
    width: 0; 
  }
  to {
    width: 100%; 
  }
}

.card .gif {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  img {
    height: 60%;
    margin-top: 2rem;
  }
}

.card .name {
  display: flex;
  justify-content: center;
  font-size: large;
  color: black;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  width: 100%;
}

.card .extra {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: black;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  width: 100%;
}

.card .btn {
  display: flex;
  justify-content: center;
}

.card .btn button {
  color: #ffff !important;
  background-color: #009d9a !important;
  padding: 2% !important;
  font-size: medium !important;
  width: 60% !important;
  border-radius: 10px !important;
  /* border: 2px solid black !important; */
  transition: 0.2s ease-in-out !important;
}

.card .btn button:hover {
  cursor: pointer;
  border: 2px solid #009d9a !important;
  background-color: #ffff !important;
  color: black !important;
}


@media screen and (max-width: 1150px) and (min-width: 470px) {
   .card{
    width: calc(50% - 2rem);
   }
}

@media screen and (max-width: 470px) {
  .event {
    margin-top: 5rem;
  }
  .poster {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 80%;
    margin: auto;
  }
}
