/** @format */

.home {
  width: 100%;
  margin-bottom: -10rem;
  position: relative;
}
.container {
  width: 100%;
  overflow: hidden;
  left: 0;
}

.firstRow {
  font-weight: bold;
  position: absolute;
  top: 1rem;
  padding-left: 3rem;
  font-size: 1.2rem;
}
.thirdRow {
  margin-top: -20rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.thirdRowLeft {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
