/** @format */

.home {
  width: 100%;
  height: 100vh;
  margin-bottom: -10rem;
  margin-top: 80px;
  position: relative;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  z-index: -10;
}
.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.firstRow {
  font-weight: bold;
  position: absolute;
  top: 1rem;
  padding-left: 3rem;
  font-size: 1.2rem;
}
.thirdRow {
  margin-top: -20rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.thirdRowLeft {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
