/** @format */

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
}
.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem 3rem;
}
.green {
  font-size: 2rem;
  color: var(--primaryColor);
  font-family: "Noto Sans", serif !important;
  font-weight: bold;
}
.right {
  height: 80vh;
  width: 70%;
  background: url("/images/bg.png");
  background-size: fill;
  background-position-x: 70%;
  background-position-y: 10%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
.black {
  font-family: "Noto Sans", serif !important;
  font-size: 3rem;
  font-weight: 700;
}
.secondRow {
  color: rgba(0, 0, 0, 0.685);
  font-size: 2rem;
}
.button {
  font-size: 1.5rem;
}
