/** @format */

.wrapper {
  /* background: linear-gradient(135deg, #52247f 20%, #00a7b5); */
  margin: 0;
  background-color: white;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  z-index: 10;
  color: #000;
  position: fixed;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: bold;
}

.nav_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.button {
  padding: 12px 14px !important;
  font-size: 18px;
}
.button a {
  color: white !important;
}
.icons {
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
}
.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 30px;
  align-items: flex-start;
  font-size: 26px;
  position: absolute;
  top: 70px;
  right: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: var(--primaryColor);
}

.menu a {
  color: aliceblue;
  font-weight: 600;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--primaryColor), white);
  transform-origin: 0% 50%;
  animation: hover 2s infinite alternate;
}

@keyframes hover {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 470px) {
  .nav {
    padding: 0 1rem;
    background-color: var(--primaryColor);
  }
  .nav_links > a {
    display: none;
  }
  .icons {
    display: block;
  }
  .button {
    display: none;
  }
}
