/** @format */

.page {
  width: 100%;
  background-repeat: 5;
  display: flex;
  padding: 4rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 80%;
}

.card {
  width: calc(33.33% - 2rem);
  height: 360px;
  background-color: #f2f7f8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  /* box-shadow: 10px 10px 12px 8px rgba(0, 0, 0, 0.1); */
  transition: 0.2s ease-in-out;
  /* justify-content: center; */
}

.imagecontainer {
  display: flex;
  justify-content: center;
  margin-top: 12%;
  margin-bottom: 12%;
}

.imagecontainer img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.desc {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  font-size: small;
}

.card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 470px) {
  .page {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    padding: 0;
    h1 {
      font-size: 2.5rem;
      white-space: nowrap;
    }
  }
  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 80%;
    margin: auto;
    .imagecontainer {
      img {
        z-index: 10;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}
