/** @format */

.abstract_container {
  display: flex;
  background-color: #f2f7f8;
  border-radius: 30px;
  height: 10rem;
  width: 90%;
  margin: auto;
}

.photo {
  display: flex;
  justify-content: center;
  width: 15%;
}

.photo img {
  margin-top: 5%;
  width: 70%;
  height: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: baseline;
}

.content .heading {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: larger;
}

.content .para {
  display: flex;
  font-size: medium;
}

.last {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.last .btn {
  display: flex;
  justify-content: center;
}

.last .btn button {
  padding: 1.8% !important;
  background-color: #009d9a !important;
  border-radius: 30px !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
  width: 40% !important;
  font-size: medium !important;
  margin-top: 7%;
  transition: 0.2s ease-in-out !important;
  border: 2px solid #009d9a !important;
}

.btn button:hover {
  border: 2px solid #009d9a !important;
  cursor: pointer;
  color: #009d9a !important;
  background-color: white !important;
}

.last .deadline {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .abstract_container {
    display: flex;
    flex-direction: column;
    background-color: #f2f7f8;
    border-radius: 30px;
    height: auto;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .photo {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .content .heading {
    text-align: center;
  }

  .content .para {
    padding: 3%;
    text-align: justify;
  }

  .last {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .last .deadline {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 470px) {
  .abstract_container {
    flex-direction: column;
    gap: 1rem;
  }
  .heading h3 {
    font-size: 1.75rem;
  }
  .last .btn button {
    margin-top: 0%;
  }
}
