/** @format */

.abstract_container {
  display: flex;
  background-color: #f2f7f8;
  border-radius: 30px;
  height: 10rem;
  width: 90%;
  margin: auto;
}

.photo {
  display: flex;
  justify-content: center;
  width: 15%;
}

.photo img {
  margin-top: 5%;
  width: 70%;
  height: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: baseline;
}

.content .heading {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: larger;
}

.content .para {
  display: flex;
  font-size: medium;
}

.last {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.last .btn {
  display: flex;
  justify-content: center;
}

.last .btn button {
  padding: 1.8%;
  background-color: #009d9a;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  width: 40%;
  font-size: medium;
  margin-top: 7%;
  transition: 0.3s ease-in-out;
  border: 2px solid #009d9a;
}

.btn button:hover {
  border: 2px solid #009d9a;
  cursor: pointer;
  color: #009d9a;
  background-color: white;
}

.last .deadline {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .abstract_container {
    display: flex;
    flex-direction: column;
    background-color: #f2f7f8;
    border-radius: 30px;
    height: auto;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .photo {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .content .heading {
    text-align: center;
  }

  .content .para {
    padding: 3%;
    text-align: justify;
  }

  .last {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .last .deadline {
    margin-bottom: 2%;
  }
}

/* #abstract_container_left_button_text {
  font-size: 190%;
  font-weight: 400;
  margin: 2%;
}
.abstract_container {
  margin: 2rem auto;
  width: 90%;
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  border: 2px solid white;
  flex-wrap: nowrap;
  justify-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.abstract_container_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.abstract_container_left_button {
  position: relative;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  width: 88%;
  height: auto;
  padding: 0.5rem 1rem;
  top: 66%;
  left: -10%;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.abstract_container_left_heading {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 225%;
  font-weight: 400;
  left: 6%;
  right: 16%;
  position: relative;
  display: flex;
}
.abstract_container_left_text1 {
  font-size: 20px;
  font-weight: 400;
  margin-top: -2%;
  width: 70%;
  left: 6%;
  right: 6%;
  position: relative;
}
.abstract_container_left_text2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10%;
  margin-top: 3%;
  left: 6%;
  right: 6%;
  position: relative;
}
#abstract_image {
  width: 70%;
  height: 80%;
  left: -8%;
  position: relative;
}
#abstract_container_img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button {
  width: 20%;
}
.button button {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} */
