#abstract_container_left_button_text{
    font-size: 190%;
    font-weight: 400;
    margin: 2%;
}
.abstract_container {
  margin: 20px auto;
  width: 80%;
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  border: 2px solid white;
  flex-wrap: nowrap;
  justify-items: center;
}
.abstract_container_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.abstract_container_left_button {
  position: relative;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  width: 88%;
  height: auto;
  padding: 0.5rem 1rem;
  top: 66%;
  left: -10%;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.abstract_container_left_heading{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 225%; 
    font-weight: 400; 
    left: 6%;
    right: 16%;
    position: relative;
    display: flex;
}
.abstract_container_left_text1{
    font-size: 20px; 
    font-weight: 400;
    margin-top: -2%;
    margin-bottom: 13%;
    width: 70%;
    left: 6%;
    right: 6%;
    position: relative;
}
.abstract_container_left_text2{
    font-size: 20px; 
    font-weight: 500;
    margin-bottom: 10%;
    margin-top: -3%;
    left: 6%;
    right: 6%;
    position: relative;
}
#abstract_image{
    width: 70%;
    height: 80%;
    left: -8%;
    position: relative;
}
#abstract_container_img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button{
  width: 20%;
}
.button button {
  cursor: pointer;
}