/** @format */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap");
:root {
  --primaryColor: rgb(0, 68, 255);
  --secondaryColor: rgba(0, 68, 255, 0.644);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
